Notebook for us to start working in.

# PPOL 5203 Final Project

## 1. Import Data and Clean Columns

In [8]:
#!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
     - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
     ---- -------------------------------- 30.7/250.0 kB 325.1 kB/s eta 0:00:01
     ------------- ----------------------- 92.2/250.0 kB 744.7 kB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 1.5 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [3]:
import pandas as pd
import os
import openpyxl

In [4]:
pwd

'/Users/katharynloweth/Desktop/Data_Science_I_Fall2023/PPOL5203_FinalProject/Python_code'

In [5]:
#changing path so that we can open files from the orig_data folder
os.chdir("../")
os.chdir('Datasets/Orig_Data')

In [7]:
# import County Health Data

countyhealthcols_1 = ['FIPS', 'State', 'County', 'Life Expectancy', 'Age-Adjusted Death Rate', '% Frequent Physical Distress', '% Frequent Mental Distress', 
                 'Population','% Less than 18 Years of Age','% 65 and Over','% American Indian or Alaska Native','% Asian','% Native Hawaiian or Other Pacific Islander','% Hispanic','% Non-Hispanic White','% Not Proficient in English','% Female','% Rural']

#KL : do we want to group all non-white demographic groups together as "nonwhite"?

County_Health_xl = pd.read_excel("2023_County_Health_Rankings_Data.xlsx", sheet_name = ['Additional Measure Data'],skiprows = 1, usecols = countyhealthcols_1)

#'% Non-Hispanic Black' couldn't find this one to add as a column

In [8]:
# subset the dictionary provided by the sheet needed and save as a new dataframe
County_Health_Addl_Measures = County_Health_xl['Additional Measure Data']

In [9]:
County_Health_Addl_Measures.rename(columns=lambda x: x.replace(" ", "_").replace("%", "Percent"), inplace=True)

In [10]:
County_Health_Addl_Measures.head()

,FIPS,State,County,Life_Expectancy,Age-Adjusted_Death_Rate,Percent_Frequent_Physical_Distress,Percent_Frequent_Mental_Distress,Population,Percent_Less_than_18_Years_of_Age,Percent_65_and_Over,Percent_American_Indian_or_Alaska_Native,Percent_Asian,Percent_Native_Hawaiian_or_Other_Pacific_Islander,Percent_Hispanic,Percent_Non-Hispanic_White,Percent_Not_Proficient_in_English,Percent_Female,Percent_Rural
0,1000,Alabama,NaN,74.835949,499.868550,11.077397,16.484296,5039877,22.267448,17.635688,0.714442,1.550435,0.108832,4.785196,64.877099,1.027596,51.425422,40.963183
1,1001,Alabama,Autauga,76.585650,427.073326,10.700000,16.200000,59095,23.406380,16.048735,0.458584,1.203147,0.118453,3.326847,72.454522,0.231241,51.378289,42.002162
2,1003,Alabama,Baldwin,77.724729,381.702031,9.900000,16.100000,239294,21.218250,21.469824,0.800271,1.122469,0.068535,4.841743,83.148763,0.759661,51.347715,42.279099
3,1005,Alabama,Barbour,72.867210,589.566095,14.900000,18.000000,24964,20.549591,19.976767,0.725044,0.460663,0.232335,4.959141,45.305240,1.382681,46.703253,67.789635
4,1007,Alabama,Bibb,73.609363,567.508146,12.700000,17.400000,22477,20.118343,16.737109,0.502736,0.275838,0.129021,3.087601,73.564088,0.443062,46.015927,68.352607

In [11]:
countyhealthcols_2 = ['FIPS','% Fair or Poor Health', 'Average Number of Physically Unhealthy Days', 'Average Number of Mentally Unhealthy Days', '# Primary Care Physicians','Primary Care Physicians Rate',
                 'Primary Care Physicians Ratio', '# Dentists', 'Dentist Rate','Dentist Ratio', 'Average Daily PM2.5', 'Presence of Water Violation', '# Mental Health Providers','Mental Health Provider Rate','Mental Health Provider Ratio']

County_Health_xl_ranked_data = pd.read_excel("2023_County_Health_Rankings_Data.xlsx", sheet_name = ['Ranked Measure Data'],skiprows = 1, usecols = countyhealthcols_2)

In [12]:
# subset the dictionary provided by the sheet needed and save as a new dataframe
County_Health_Ranked_Measures = County_Health_xl_ranked_data['Ranked Measure Data']

In [13]:
# clean column names
County_Health_Ranked_Measures.rename(columns=lambda x: x.replace(" ", "_").replace("%", "Percent").replace("#", "Number"), inplace=True)

# Do we want to convert percents to decimals?
# Do we want the ratios for dentist, primary care, mental health?

In [14]:
County_Health_Ranked_Measures.head()

,FIPS,Percent_Fair_or_Poor_Health,Average_Number_of_Physically_Unhealthy_Days,Average_Number_of_Mentally_Unhealthy_Days,Number_Primary_Care_Physicians,Primary_Care_Physicians_Rate,Primary_Care_Physicians_Ratio,Number_Dentists,Dentist_Rate,Dentist_Ratio,Number_Mental_Health_Providers,Mental_Health_Provider_Rate,Mental_Health_Provider_Ratio,Average_Daily_PM2.5,Presence_of_Water_Violation
0,1000,18.9,3.482416,5.073277,3238.0,65.79252,1520:1,2454.0,48.69166,2054:1,6321.0,125.41973,797:1,9.3,NaN
1,1001,16.9,3.432211,4.797351,25.0,44.52756,2246:1,19.0,32.15162,3110:1,21.0,35.53600,2814:1,10.0,No
2,1003,14.9,3.276177,4.753750,150.0,65.42019,1529:1,114.0,47.64014,2099:1,250.0,104.47399,957:1,7.6,Yes
3,1005,27.5,4.605432,4.954855,8.0,32.53487,3074:1,8.0,32.04615,3121:1,6.0,24.03461,4161:1,9.4,Yes
4,1007,21.6,4.012182,5.364779,14.0,63.24539,1581:1,6.0,26.69395,3746:1,9.0,40.04093,2497:1,9.8,No

,FIPS,Percent_Fair_or_Poor_Health,Average_Number_of_Physically_Unhealthy_Days,Average_Number_of_Mentally_Unhealthy_Days,#_Primary_Care_Physicians,Primary_Care_Physicians_Rate,Primary_Care_Physicians_Ratio,#_Dentists,Dentist_Rate,Dentist_Ratio,#_Mental_Health_Providers,Mental_Health_Provider_Rate,Mental_Health_Provider_Ratio,Average_Daily_PM2.5,Presence_of_Water_Violation
0,1000,18.9,3.482416,5.073277,3238.0,65.79252,1520:1,2454.0,48.69166,2054:1,6321.0,125.41973,797:1,9.3,NaN
1,1001,16.9,3.432211,4.797351,25.0,44.52756,2246:1,19.0,32.15162,3110:1,21.0,35.53600,2814:1,10.0,No
2,1003,14.9,3.276177,4.753750,150.0,65.42019,1529:1,114.0,47.64014,2099:1,250.0,104.47399,957:1,7.6,Yes
3,1005,27.5,4.605432,4.954855,8.0,32.53487,3074:1,8.0,32.04615,3121:1,6.0,24.03461,4161:1,9.4,Yes
4,1007,21.6,4.012182,5.364779,14.0,63.24539,1581:1,6.0,26.69395,3746:1,9.0,40.04093,2497:1,9.8,No

In [15]:
#import NRI data 

NRIcols = ['STATE', 'STATEABBRV', 'COUNTY','STCOFIPS', 'POPULATION','AREA',
           'RISK_SCORE','RISK_RATNG','EAL_SCORE','EAL_RATNG','SOVI_SCORE','SOVI_RATNG','RESL_SCORE','RESL_RATNG']

NRI_df = pd.read_csv("NRI_Table_Counties/NRI_Table_Counties.csv", usecols = NRIcols)

In [16]:
NRI_df.rename(columns = {'STCOFIPS': 'FIPS'}, inplace = True)

In [17]:
NRI_df.head()

,STATE,STATEABBRV,COUNTY,FIPS,POPULATION,AREA,RISK_SCORE,RISK_RATNG,EAL_SCORE,EAL_RATNG,SOVI_SCORE,SOVI_RATNG,RESL_SCORE,RESL_RATNG
0,Alabama,AL,Autauga,1001,58764,610.470508,49.220490,Relatively Low,50.943980,Very Low,51.299999,Relatively Moderate,51.810001,Relatively Moderate
1,Alabama,AL,Baldwin,1003,231365,2047.738775,97.709195,Relatively High,98.235840,Relatively High,31.030001,Relatively Low,86.120003,Very High
2,Alabama,AL,Barbour,1005,25160,913.646511,56.188355,Relatively Low,44.877747,Very Low,99.269997,Very High,6.240000,Very Low
3,Alabama,AL,Bibb,1007,22239,632.486798,32.484887,Very Low,30.485918,Very Low,80.779999,Very High,19.730000,Very Low
4,Alabama,AL,Blount,1009,58992,657.196555,65.128858,Relatively Low,63.633550,Relatively Low,51.369999,Relatively Moderate,22.820000,Relatively Low

In [ ]:
os.chdir('../')

In [18]:
#import Places data 

PlacesCols = ['StateAbbr', 'StateDesc', 'LocationName', 'LocationID', 'Geolocation']


Places_df = pd.read_csv("PLACES__Local_Data_for_Better_Health__County_Data_2023_release.csv", usecols = PlacesCols)

In [19]:
#I moved this code later on so that it is in the final dataset
#Places_df['County_State'] = Places_df.LocationName + ", " + Places_df.StateAbbr

In [20]:
Places_df.head()

,StateAbbr,StateDesc,LocationName,LocationID,Geolocation,County_State
0,GA,Georgia,Ware,13299,POINT (-82.4215072 31.050881),"Ware, GA"
1,IN,Indiana,Ohio,18115,POINT (-84.9642994 38.940527),"Ohio, IN"
2,IN,Indiana,Owen,18119,POINT (-86.8388453 39.3173394),"Owen, IN"
3,IA,Iowa,Iowa,19095,POINT (-92.0591226 41.6839184),"Iowa, IA"
4,IA,Iowa,Marion,19125,POINT (-93.0938678 41.3314327),"Marion, IA"

In [38]:
# Create a new column for the county and state so that we can merge later
# Confirm - this data set does not include FIPS?
#KL -changing group to group by the FIPS (in this case called LocationID)
Places_df_grouped = pd.DataFrame(Places_df.groupby('LocationID', as_index = False)['Geolocation'].first())
Places_df_grouped.head()

   LocationID                     Geolocation
0          59                            None
1        1001  POINT (-86.6464395 32.5322367)
2        1003  POINT (-87.7460666 30.6592183)
3        1005  POINT (-85.4051035 31.8702531)
4        1007  POINT (-87.1271475 33.0158929)

## 2. Merge Datasets together by FIPS

In [27]:
# To see which data set has the most information on FIPS

print( NRI_df.shape)
print( County_Health_Ranked_Measures.shape)
print( County_Health_Addl_Measures.shape)
print( Places_df_grouped.shape)

(3231, 14)
(3193, 15)
(3193, 18)
(3144, 2)

In [28]:
# Do we want to join on the left or outer? Outer would mean that we don't have data for NRI for those FIPS that are coming from the county health data

Merged_County_Data_Ranked = pd.merge(NRI_df, County_Health_Ranked_Measures, how = 'left', on = 'FIPS')

In [29]:
Merged_County_Data_Ranked.shape

(3231, 28)

In [30]:
Merged_County_Data_Ranked.head()

,STATE,STATEABBRV,COUNTY,FIPS,POPULATION,AREA,RISK_SCORE,RISK_RATNG,EAL_SCORE,EAL_RATNG,...,Primary_Care_Physicians_Rate,Primary_Care_Physicians_Ratio,Number_Dentists,Dentist_Rate,Dentist_Ratio,Number_Mental_Health_Providers,Mental_Health_Provider_Rate,Mental_Health_Provider_Ratio,Average_Daily_PM2.5,Presence_of_Water_Violation
0,Alabama,AL,Autauga,1001,58764,610.470508,49.220490,Relatively Low,50.943980,Very Low,...,44.52756,2246:1,19.0,32.15162,3110:1,21.0,35.53600,2814:1,10.0,No
1,Alabama,AL,Baldwin,1003,231365,2047.738775,97.709195,Relatively High,98.235840,Relatively High,...,65.42019,1529:1,114.0,47.64014,2099:1,250.0,104.47399,957:1,7.6,Yes
2,Alabama,AL,Barbour,1005,25160,913.646511,56.188355,Relatively Low,44.877747,Very Low,...,32.53487,3074:1,8.0,32.04615,3121:1,6.0,24.03461,4161:1,9.4,Yes
3,Alabama,AL,Bibb,1007,22239,632.486798,32.484887,Very Low,30.485918,Very Low,...,63.24539,1581:1,6.0,26.69395,3746:1,9.0,40.04093,2497:1,9.8,No
4,Alabama,AL,Blount,1009,58992,657.196555,65.128858,Relatively Low,63.633550,Relatively Low,...,20.73291,4823:1,10.0,16.93738,5904:1,12.0,20.32486,4920:1,9.6,No

In [31]:
Merged_County_Data2 = pd.merge(NRI_df, County_Health_Ranked_Measures, how = 'outer', on = 'FIPS')
Merged_County_Data2.shape

(3283, 28)

In [32]:
# going with the left join for now

#merge the additional measures with the previously merged data set
Merged_County_Data_Addl_Measures = pd.merge(Merged_County_Data_Ranked, County_Health_Addl_Measures, how = 'left', on = 'FIPS')
Merged_County_Data_Addl_Measures.shape

(3231, 45)

In [36]:
Merged_County_Data = pd.merge(Merged_County_Data_Addl_Measures,
         Places_df_grouped,
         how="outer",
         left_on = "FIPS",  
         right_on="LocationID")

Merged_County_Data.head()

#print(Merged_County_Data.shape)

,STATE,STATEABBRV,COUNTY,FIPS,POPULATION,AREA,RISK_SCORE,RISK_RATNG,EAL_SCORE,EAL_RATNG,...,Percent_American_Indian_or_Alaska_Native,Percent_Asian,Percent_Native_Hawaiian_or_Other_Pacific_Islander,Percent_Hispanic,Percent_Non-Hispanic_White,Percent_Not_Proficient_in_English,Percent_Female,Percent_Rural,LocationID,Geolocation
0,Alabama,AL,Autauga,1001.0,58764.0,610.470508,49.220490,Relatively Low,50.943980,Very Low,...,0.458584,1.203147,0.118453,3.326847,72.454522,0.231241,51.378289,42.002162,1001.0,POINT (-86.6464395 32.5322367)
1,Alabama,AL,Baldwin,1003.0,231365.0,2047.738775,97.709195,Relatively High,98.235840,Relatively High,...,0.800271,1.122469,0.068535,4.841743,83.148763,0.759661,51.347715,42.279099,1003.0,POINT (-87.7460666 30.6592183)
2,Alabama,AL,Barbour,1005.0,25160.0,913.646511,56.188355,Relatively Low,44.877747,Very Low,...,0.725044,0.460663,0.232335,4.959141,45.305240,1.382681,46.703253,67.789635,1005.0,POINT (-85.4051035 31.8702531)
3,Alabama,AL,Bibb,1007.0,22239.0,632.486798,32.484887,Very Low,30.485918,Very Low,...,0.502736,0.275838,0.129021,3.087601,73.564088,0.443062,46.015927,68.352607,1007.0,POINT (-87.1271475 33.0158929)
4,Alabama,AL,Blount,1009.0,58992.0,657.196555,65.128858,Relatively Low,63.633550,Relatively Low,...,0.660558,0.403110,0.123643,9.867719,86.329839,1.726907,50.192239,89.951502,1009.0,POINT (-86.56644 33.9773575)

In [ ]:
# create new column for County_State so that we can merge with the Places data set
#Merged_County_Data_Addl_Measures['County_State'] = Merged_County_Data_Addl_Measures['COUNTY'] + ", " + Merged_County_Data_Addl_Measures['STATEABBRV']

In [ ]:
# merge the places data set with the rest of the data on the County_state variable
#Merged_County_Data = pd.merge(Merged_County_Data_Addl_Measures, Places_df_grouped, how = 'left', on = 'County_State')

In [40]:
Merged_County_Data['County_State'] = Merged_County_Data.COUNTY + ", " + Merged_County_Data.STATEABBRV

Merged_County_Data.head()

,STATE,STATEABBRV,COUNTY,FIPS,POPULATION,AREA,RISK_SCORE,RISK_RATNG,EAL_SCORE,EAL_RATNG,...,Percent_Asian,Percent_Native_Hawaiian_or_Other_Pacific_Islander,Percent_Hispanic,Percent_Non-Hispanic_White,Percent_Not_Proficient_in_English,Percent_Female,Percent_Rural,LocationID,Geolocation,County_State
0,Alabama,AL,Autauga,1001.0,58764.0,610.470508,49.220490,Relatively Low,50.943980,Very Low,...,1.203147,0.118453,3.326847,72.454522,0.231241,51.378289,42.002162,1001.0,POINT (-86.6464395 32.5322367),"Autauga, AL"
1,Alabama,AL,Baldwin,1003.0,231365.0,2047.738775,97.709195,Relatively High,98.235840,Relatively High,...,1.122469,0.068535,4.841743,83.148763,0.759661,51.347715,42.279099,1003.0,POINT (-87.7460666 30.6592183),"Baldwin, AL"
2,Alabama,AL,Barbour,1005.0,25160.0,913.646511,56.188355,Relatively Low,44.877747,Very Low,...,0.460663,0.232335,4.959141,45.305240,1.382681,46.703253,67.789635,1005.0,POINT (-85.4051035 31.8702531),"Barbour, AL"
3,Alabama,AL,Bibb,1007.0,22239.0,632.486798,32.484887,Very Low,30.485918,Very Low,...,0.275838,0.129021,3.087601,73.564088,0.443062,46.015927,68.352607,1007.0,POINT (-87.1271475 33.0158929),"Bibb, AL"
4,Alabama,AL,Blount,1009.0,58992.0,657.196555,65.128858,Relatively Low,63.633550,Relatively Low,...,0.403110,0.123643,9.867719,86.329839,1.726907,50.192239,89.951502,1009.0,POINT (-86.56644 33.9773575),"Blount, AL"

In [47]:
# Remove duplicate state and county columns
Merged_County_Data.drop(columns = ['LocationID', 'COUNTY', 'STATE'], inplace = True)

Merged_County_Data.head()

,STATEABBRV,FIPS,POPULATION,AREA,RISK_SCORE,RISK_RATNG,EAL_SCORE,EAL_RATNG,SOVI_SCORE,SOVI_RATNG,...,Percent_American_Indian_or_Alaska_Native,Percent_Asian,Percent_Native_Hawaiian_or_Other_Pacific_Islander,Percent_Hispanic,Percent_Non-Hispanic_White,Percent_Not_Proficient_in_English,Percent_Female,Percent_Rural,Geolocation,County_State
0,AL,1001.0,58764.0,610.470508,49.220490,Relatively Low,50.943980,Very Low,51.299999,Relatively Moderate,...,0.458584,1.203147,0.118453,3.326847,72.454522,0.231241,51.378289,42.002162,POINT (-86.6464395 32.5322367),"Autauga, AL"
1,AL,1003.0,231365.0,2047.738775,97.709195,Relatively High,98.235840,Relatively High,31.030001,Relatively Low,...,0.800271,1.122469,0.068535,4.841743,83.148763,0.759661,51.347715,42.279099,POINT (-87.7460666 30.6592183),"Baldwin, AL"
2,AL,1005.0,25160.0,913.646511,56.188355,Relatively Low,44.877747,Very Low,99.269997,Very High,...,0.725044,0.460663,0.232335,4.959141,45.305240,1.382681,46.703253,67.789635,POINT (-85.4051035 31.8702531),"Barbour, AL"
3,AL,1007.0,22239.0,632.486798,32.484887,Very Low,30.485918,Very Low,80.779999,Very High,...,0.502736,0.275838,0.129021,3.087601,73.564088,0.443062,46.015927,68.352607,POINT (-87.1271475 33.0158929),"Bibb, AL"
4,AL,1009.0,58992.0,657.196555,65.128858,Relatively Low,63.633550,Relatively Low,51.369999,Relatively Moderate,...,0.660558,0.403110,0.123643,9.867719,86.329839,1.726907,50.192239,89.951502,POINT (-86.56644 33.9773575),"Blount, AL"

In [54]:
# create function to classify community type by population of county
# these thresholds come from the CDC urban rural classification report.

def community_type_classification(population):
    '''
    Add description here.
    '''
    if population < 50000:
        return("Rural")
    elif population < 1000000:
        return("Small/Medium Urban")
    else:
        return("Urban")

In [55]:
# create new column to get community type from the created classification function
Merged_County_Data['Community_Type'] = [community_type_classification(x) for x in Merged_County_Data['POPULATION']]

In [56]:
Merged_County_Data.Community_Type.value_counts()

# Looks like we don't have many urban observations - do we want to include medium in the urban classification?

#KL - if we do cutoff for urban as greater than 250,000 its roughly 250 for urban and 700 for small urban

Community_Type
Rural                 2227
Small/Medium Urban     955
Urban                   50
Name: count, dtype: int64

In [62]:
# Look at the number of NA geolocation rows
Merged_County_Data.Geolocation.isna().value_counts() #only 89 values that don't have geolocations - could be misspellings that we need to look at?

#KL - those with NaN's in the geolocation are US territories -- we can probably remove from the dataset as there is also little information about them in the NRI
Merged_County_Data[Merged_County_Data.Geolocation.isna()]


#removing NaNs for geolocation
Merged_County_Data_clean = Merged_County_Data[Merged_County_Data.Geolocation.isna() == False]

Merged_County_Data_clean.Geolocation.isna().value_counts()

Geolocation
False    3143
Name: count, dtype: int64

In [65]:
#confirming that all of the remaining datasets have information on NRI risk 
Merged_County_Data_clean.RISK_RATNG.value_counts()

RISK_RATNG
Very Low               1511
Relatively Low         1091
Relatively Moderate     397
Relatively High         129
Very High                15
Name: count, dtype: int64

In [58]:
# Final data set merged all data sets
Merged_County_Data.columns

Index(['STATEABBRV', 'FIPS', 'POPULATION', 'AREA', 'RISK_SCORE', 'RISK_RATNG',
       'EAL_SCORE', 'EAL_RATNG', 'SOVI_SCORE', 'SOVI_RATNG', 'RESL_SCORE',
       'RESL_RATNG', 'Percent_Fair_or_Poor_Health',
       'Average_Number_of_Physically_Unhealthy_Days',
       'Average_Number_of_Mentally_Unhealthy_Days',
       'Number_Primary_Care_Physicians', 'Primary_Care_Physicians_Rate',
       'Primary_Care_Physicians_Ratio', 'Number_Dentists', 'Dentist_Rate',
       'Dentist_Ratio', 'Number_Mental_Health_Providers',
       'Mental_Health_Provider_Rate', 'Mental_Health_Provider_Ratio',
       'Average_Daily_PM2.5', 'Presence_of_Water_Violation', 'State', 'County',
       'Life_Expectancy', 'Age-Adjusted_Death_Rate',
       'Percent_Frequent_Physical_Distress',
       'Percent_Frequent_Mental_Distress', 'Population',
       'Percent_Less_than_18_Years_of_Age', 'Percent_65_and_Over',
       'Percent_American_Indian_or_Alaska_Native', 'Percent_Asian',
       'Percent_Native_Hawaiian_or_Other_Pacific_Islander', 'Percent_Hispanic',
       'Percent_Non-Hispanic_White', 'Percent_Not_Proficient_in_English',
       'Percent_Female', 'Percent_Rural', 'Geolocation', 'County_State',
       'Community_Type'],
      dtype='object')

## 3. Exploratory Scatterplots

In [119]:
import numpy as np
from plotnine import * # to imitate ggplot
import matplotlib.pyplot